####################################
# Node / Angular
####################################

node_modules/
dist/
build/
.angular/
.cache/
.tmp/
coverage/
.npm/
.eslintcache
package-lock.json

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

####################################
# Cypress
####################################

cypress/videos/
cypress/screenshots/
cypress/downloads/

####################################
# Environment files
####################################

.env
.env.*
src/environments/environment.ts
src/environments/environment.prod.ts

####################################
# Java / Spring Boot
####################################

target/
bin/
out/
.mvn/
*.class
*.jar
*.war
*.ear

####################################
# IDEs
####################################

# VS Code
.vscode/

# IntelliJ / WebStorm
.idea/
*.iml
modules.xml
*.ipr

# Eclipse
.project
.classpath
.settings/
.metadata/

####################################
# OS Files
####################################

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Desktop.ini

####################################
# Misc
####################################

*.swp
*.bak
*.tmp
*.lock